:root {
  --color-dark: black;
  --color-light: white;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body * {
  font-family: RedHatMono;
}

@font-face {
  font-family: RedHatMono;
  src:  local("RedHatMono"), url("/fonts/RedHatMono/RedHatMono-VariableFont_wght.ttf");
}

/* animations */

@keyframes fadeinout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Print screen */

@media print {
  footer * {
    display: none;
  }
  header {
    display: none;
  }
  #page {
    display: block;
  }
}